header{
	width: 100%;
	border-bottom: 1px #e4e4e4 solid;
	height: 60px;
}
.container{
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
.logo{
	width: 114px;
	height: 50px;
	background: url($logo_svg);
	background: url($logo_png)\0;
	*background: url($logo_png);
	float: left;
	margin-top: 5px;
}