@import "____reset.scss";
@import "____mixins.scss";
@import "____init.scss";
@import "component/progressBar.scss";
@import "_layouts.scss";
@import "_header.scss";
@import "_subNav.scss";
.slogan{
	color: #BB8755;
	margin: 15px 0 0 5px;
	float: left;
	display: inline-block;
	font-size: 30px;
}
.footer-copyright{
	width: 100%;
}

.indexBanner{
	width: 100%;
	height: 618px;
	background-color: #fbfbfb;
}
.indexBanner .inside{
	position: relative;
	display: block;
	width: 100%;
	height: 618px;
	background: url("../img/indexBannerBg.jpg");
}
.indexSection{
	position: relative;
	width: 100%;
	min-width: 1200px;
	height: 420px;
	margin: 3px 0 3px 0;
}
.indexSection h2{
	font-size: 26px;
	color: #333;
}
.indexSection h4{
	font-size: 14px;
	margin-top: 10px;
	line-height: 24px;
	color: #666;
}
.indexSection .info_l{
	position: absolute;
	right: 20px;
	top: 200px;
	width: 510px;
	display: block;
}
.indexSection .info_r{
	position: absolute;
	left: 20px;
	top: 200px;
	width: 510px;
	display: block;
}
.sectionImg{
	display: block;
	position: absolute;
}
.img1{
	left: -100px;
	top: 36px;
}
.img2{
	top:116px;
	right: 20px;
}
.img3{
	top: 36px;
}
.img4{
	right: 20px;
	top: 36px;
}
.grad1 {
	@include background-gradient(#e9f0f4,#d3dbde);
}
.grad2 {
	@include background-gradient(#f3f1e8,#dddbd3);
}
.grad3 {
	@include background-gradient(#f3e7eb,#ded3d7);
}
.grad4 {
	@include background-gradient(#eaede8,#d6d9d4);
}

.indexTitle{
	position: absolute;
	top: 111px;
	left: 445px;
	color: #666;
	font-size: 26px;
	width: 300px;
	text-align: center;
}
.indexInfoTitle{
	position: absolute;
	top: 460px;
	left: 445px;
	color: #999;
	font-size: 12px;
	line-height: 18px;
	width: 300px;
	text-align: center;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

.btn{
	outline: 0; 
	box-shadow: none;
	-webkit-transition-property: background;
	transition-property: background;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	background: #00A1CB;
	color: #FFF;
	text-shadow: none;
	border: none;
}
.indexInnerRight{
	position: absolute;
	top: 140px;
	left: 144px;
	.subDes{
		width: 240px;
		height: 20px;
		font-size: 12px;
		color: #999;
		margin: 5px 0;
		text-align: center;
	}
}
.indexInnerLeft{
	position: absolute;
	top: 140px;
	left: 770px;
	.subDes{
		width: 240px;
		height: 20px;
		font-size: 16px;
		color: #999;
		margin: 5px 0;
		text-align: center;
	}
}
.indexInnerLeftDes{
	position: absolute;
	top: 260px;
	left: 970px;
	font-size: 16px;
	line-height: 32px;
	color: #999;
}
.indexBannerImg1{
	position: absolute;
	top: 280px;
	left: 150px;
}
.indexBannerImg2{
	position: absolute;
	top: 260px;
	left: 830px;
}
.indexBannerImg2Des{
	position: absolute;
	width: 160px;
	height: 100px;
	top: 400px;
	left: 808px;
	font-size: 12px;
	line-height: 18px;
	color: #999;
	text-align: center;
	.black{
		color: #333;
		font-weight: bold;
	}
}
.redBtn{
	width: 240px;
	height: 60px;
	background-color:#f22e52;
	color: #fff;
	font-size: 18px;
	&:hover{
		background-color:#fe5271;
	}
}
.blueBtn{
	width: 240px;
	height: 60px;
	background-color:#95b3cd;
	color: #fff;
	font-size: 18px;
	&:hover{
		background-color:#abceed;
	}
}
.progressDiv{
	position: absolute;
	display: block;
	width: 280px;
	height: 100px;
	top: 183px;
	left: 454px;
}
footer{
	font-size: 12px;
	color: #999;
	text-align: center;
	height: 88px;
	display: inline-block;
	small{
		line-height: 88px;
	}
	.footyCopyright{
		vertical-align: middle;
		height: 100%;
	}
	a{
		color: #999;
		text-decoration: underline;
		line-height: 88px;
	}
}
.function {
  position: absolute;
  right: 0;
  z-index: 3;
}
.notices_btu {
    position: relative;
    display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    z-index: 20;
    padding: 13px 0;
    background: url(images/icon-NoticeBell.png) no-repeat;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    cursor: pointer;
    margin: 15px 5px
}

.notice_tips {
    width: 30px;
    height: 18px;
    line-height: 18px;
    border-radius: 99em;
    background-color: red;
    padding: 2px;
    font-size: 11px;
    color: #fff;
    margin-left: 15px;
    -webkit-animation: fadingInOut 3s infinite;
    -moz-animation: fadingInOut 3s infinite;
    -o-animation: fadingInOut 3s infinite;
    animation: fadingInOut 3s infinite
}

@keyframes fadingInOut {
    0% {
        opacity: 1
    }

    30% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    80% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@-o-keyframes fadingInOut {
    0% {
        opacity: 1
    }

    30% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    80% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes fadingInOut {
    0% {
        opacity: 1
    }

    30% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    80% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadingInOut {
    0% {
        opacity: 1
    }

    30% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    80% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

.notices_btu span {
    display: inline;
    width: 50px;
    margin-left: -10px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    transform: scale(0.85)
}

.notices_panel {
    position: absolute!important;
    right: 10px;
    top: 85px;
    width: 350px;
    min-height: 50px;
    max-height: 350px;
    z-index: 20;
    background-color: #f5f5f5;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    overflow-y: hidden;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s
}

.notice_rec {
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #fff;
    padding: 5px 10px;
    text-align: left;
    font-size: 12px;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s
}

.notice_rec:hover {
    background-color: #fff
}

.notices_panel>div:nth-last-child(3) {
    border-bottom: 0
}

.notice_rec p {
    padding: 0;
    margin: 0
}

.notice_rec p:last-child {
    margin-top: 5px
}